<%- include('partials/header.ejs') %>
<div class="container">
    <div class="aboutMe ">
    <strong> <center >About This Blog</center></strong> <br>
    <p> Welcome to our blog! Built using Node.js, EJS, and Multer, this platform is designed for sharing ideas, insights, and stories in an engaging and user-friendly environment.
    </p>
    <br>
    <strong> Our Features :-</strong><br>
    <p><strong>Home: </strong>Explore our latest posts and featured articles. This is where you'll find a curated selection of content to inspire and inform.</p> 
    <br>
    <p><strong>Posts:</strong>Dive into our extensive collection of blog entries. Each post showcases an image, the author's name, a captivating title, a detailed paragraph, and the date of publication, providing you with a complete view of each article.</p> 
    <br>
    <p><strong>Create:</strong>Join our community of writers! The "Create" section allows you to craft and submit your own blog posts. Share your voice and connect with readers who share your passions.</p> 
    <br>
    <p><strong>Edit: </strong>Have something to add or change? Our editing feature empowers you to update your posts with ease, ensuring that your content always reflects your latest thoughts and ideas.</p>
    <br>
    <p><strong>Our Mission :-</strong><br>
    Our goal is to create a vibrant space for expression, where anyone can contribute and engage with diverse perspectives. Whether you're here to read, write, or both, we hope you find inspiration and a sense of community within our pages.
    <br>
    Thank you for visiting, and happy blogging!</p>
</div>
</div>



<%- include('partials/footer.ejs') %>